<!DOCTYPE html>
<head>
  <title>ScoreAI</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='download.jfif') }}" class="icon" />
  <h3>Nostra Chatbot </h3>
  <h4>I'm Nostra sales agent, please ask me anything about Nostra.</h4>
  <form action="/" method="post">
    <!-- <input type="text" name="animal" placeholder="3 is lower than 5" required /> -->
    <textarea name = "animal" rows="10" cols="60" placeholder = "How does Nostra's technology continue to evolve and learn?" required ></textarea>
    <input type="submit" value="Submit" />
  </form>
  {% if result %}
  <!-- <h3>Your score is {{r0}}</h3> -->
  <div class="result">{{result}}</div>
  {% endif %}
  <!-- {% if r2 %}
  <div class="result">{{ r2 }}</div>
  {% endif %}
  {% if r3 %}
  <div class="result">{{ r3 }}</div>
  {% endif %} -->
</body>
