<!DOCTYPE html>
<head>
  <title>Dubai Travel Agency</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='download.jfif') }}" class="icon" />
  <h3>Airlines to Travel Dubai </h3>
  <h4>Enter your city and country, we suggest you the best airways to travel to Dubai from your location! </h4>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="New York, USA" required />
    <input type="submit" value="Find Airlines" />
  </form>
  {% if r0 %}
  <h3>{{r0}} To Dubai, UAE</h3>
  <div class="result">{{ r1 }}</div>
  {% endif %}
  {% if r2 %}
  <div class="result">{{ r2 }}</div>
  {% endif %}
  {% if r3 %}
  <div class="result">{{ r3 }}</div>
  {% endif %}
</body>
